{{ partial "header" . }}

<!--<img src="https://media.giphy.com/media/3og0IV7MOCfnm85iRa/giphy.gif" style="width:100%; height:20em; margin-bottom:2em;">-->
<img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExM204YzdxZHYweHd4OHczOXhzbWl3ZW0zcHBlYXloZDk1ZHphbDV3NiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/sJvz8Qnfly3BOuotGx/giphy.gif" style="width:100%; height:20em; margin-bottom:2em;">

<main class='main'>
  <section class='list-container'>
    <h1 class='list-title title'>
      {{- if .Data.Singular -}}
        <span class='taxonomy-type'>{{ .Data.Singular | title }}: </span>
      {{- end -}}
      {{- .Title -}}
    </h1>
    <div class='list'>
      {{ range .Paginator.Pages }}
        {{ .Render "li" }}
      {{ end }}
    </div>

    {{ partial "nav/pagination" . }}
  </section>
</main>

{{ partial "footer" . }}
